<%- include head.ejs %>
<body>
	<div class="container">
		<h1>DETAILS GO HERE!</h1>
		<ul>Things to add
			<li>Details about Field</li>
			<li>Weather</li>
			<li>Comments about Field</li>
			<li>LOGGED IN:  Ability to Comment</li>
			<li>LOGGED IN:  Ability to Favorite</li>
		</ul>
	</div>		

</body>
</html>