<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Field Finder</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="public/css/styles.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	


</head>
<body>
	<div class="container" ng-controller="AppCtrl">
		<div class="form-inline">
		    <input class="form-control" type="text" placeholder="Search by Zip code" ng-model="query" id="query">
		        
		    <button class="btn btn-primary" ng-click="search()" id="search"> search</button>

		    <div id="content">
		        <div id="radar"></div>
		    </div>